[x-cloak] {
  display: none !important;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Smooth scrolling for hash links if used */
html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar for Sections */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(241, 245, 249, 0.5);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}
